<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zoom Clone</title>
    <link rel="stylesheet" href="public/style.css" />
    <script
      src="https://kit.fontawesome.com/4737a162b6.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a href="/"> 
            <i class="fa-solid fa-graduation-cap fa-lg" style="color: #ffffff"></i>

            StudyHub
        </a>
      
      </div>
      <div class="navbar-right">
        <a href="/home"><div class="nav-items">Dashboard</div></a>

        <a href="/signup"> <div class="nav-items">Signup</div></a>
        <a href="/login"> <div class="nav-items">Login</div></a>
      </div>
    </div>
  </body>
</html>
