<html>
  <head>
    <link href="/style.css" rel="stylesheet" />
    <link
      href="/fontawesome-free-6.4.0-web/css/fontawesome.css"
      rel="stylesheet"
    />
    <link href="/fontawesome-free-6.4.0-web/css/solid.css" rel="stylesheet" />
    <title>Heartstrings</title>
    <script src="script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Carlito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="public/style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <div class="form-container">
      <h1>Register for a new account</h1>
      <form method="POST" action="/signup">
        <div class="register-content-container">
          <input
            type="text"
            name="fullname"
            placeholder="your full name"
            class="login-full-name"
          />
          <input
            type="text"
            name="username"
            placeholder="Eemail Id"
            class="login-username"
          />
          <input
            type="password"
            name="password"
            placeholder="choose a password"
            class="login-password"
          />

          <input
            type="submit"
            name="submitbutton"
            value="make my account!"
            class="submit-btn"
          />
        </div>
      </form>
    </div> -->

 

    <!-- Design by foolishdeveloper.com -->


    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form class="register-form" method="POST" action="/signup">
      <h3>Sign up</h3>

      <label for="username">Username</label>
      <input type="text" placeholder="Username" id="username" name="username"/>
      <label for="full-name">Full name</label>
      <input type="text" placeholder="Name" id="full-name" name="fullname"/>
      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" name="password"/>

      <button class="logsign">Sign up</button>
      <span> Don't have an account? 
         <a href="/login" style="text-decoration: underline; text-align: center;"> Login </a> </span>
    </form>
  </body>
</html>
